/*$primary: #00c88d;
$secondary: #ef534f;*/

.notification{
  min-height: 170px;
  padding: 18px;
  margin-top: 5vh;
}
.notification .notTitle{
  font-size: 18px;
  font-weight: 700;
}
.notification .notBody{
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.notification .notWeb{
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  color: #999;
}
.notImg{
  padding: 0px !important;
  margin: 0px !important;
  height: 120px !important;
}

.notForm{
  margin-top: 5vh;
}
.notPreviewTitle{
  text-align: center;
  margin-top: 5vh;
  font-size: 18px;
}
.preview{
  margin-top: 2vh;
}
.notSend{
  margin-top: 5vh;
}
.notSend a{
  background-color: #00c88d;
}
